body {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.element-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    margin-right: 330px;
}

.links {
    display: flex;
    list-style-type: none;
    color: rgb(112, 110, 110);
    gap: 20px;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.top-main {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.top-secondary {
    max-width: 350px;
    color: #e5e7eb;
}

.top-sign-up {
    background-color: rgb(122, 122, 248);
    margin-bottom: 100px;
    margin-top: 10px;
    padding: 5px 20px 5px 20px; 
    color: white;
}

img {
    padding: 75px 100px 75px 100px;
    background-color: grey;
    margin-left: 25px;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 30px 0px 70px 0px;
}

.images {
    max-width: 800px;
    align-items: center;
}

.second-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.box {
    padding: 50px;
    align-items: center;
    width: 100px;
    height: auto;
    border-radius: 10px;
    background-color: white;
}

.info {
    width: 150px;
    justify-content: center;
}

.container-3 {
    background-color: #e5e7eb;
    padding: 100px 300px 100px 300px;
}

.text-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

.promote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 300px 100px 300px;
    padding: 25px 0px 25px 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    flex-wrap: wrap;
}

button {
    display: flex;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border-color: white;
    padding: 5px 20px 5px 20px;
}

.second-line {
    display: flex;
    flex-direction: row;
    gap: 100px;
    color: #e5e7eb;
}

.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 40px 0px 40px 0px;
}